@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap');


$body-bg-color: #141414;
$body-text-color: #ffffff;

body {
	background: $body-bg-color;
	color: $body-text-color;
}

.movie-app {
	> .row {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
	}
}

.image-container {
	position: relative;
	transition: transform 0.2s;

	&:hover {
		cursor: pointer;
		transform: scale(1.1);

		.overlay {
			opacity: 1;
		}
	}
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}
